.logo{
    height: 50px;
    width: auto;
}

.region-search{
    margin: 5px;
    padding: 7px;
    outline: none;
}

.searchBtn{
    width: auto;
    height: 40px;
    position: relative;
    top: 13px;
}

.sellBtn{
    height: 60px;
    width: 280px;
    margin: 5px;
    position: relative;
    top: 20px;
}

/* ================================ Ads.jsx =============================== */

/* .adDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */
